{% layout "layout.liquid" %}
{% block content %}
  <div>
    <h2 class="display-6">{{whoseIndex}} Cakes</h2>
    <div class="row">
      {% for cake in cakes %}
        <div class="card" style="width: 18rem">
          <h5 class="card-header">{{ cake.name }}
          </h5>
          <div class="card-body">
            <h5 class="card-title">${{cake.price}}
            </h5>
            <a class="btn btn-info" href="/cakes/{{cake.name}}">
              View
              {{cake.name}}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}}}