{% layout "layout.liquid" %}
{% block content %}
  <div class="container-sm">
    <form action="/breads/{{bread.name}}?_method=PUT" method="POST">
      <fieldset>
        <legend>Edit
          {{bread.name}}
        </legend>
        <label class="form-label">Name:</label>
        <input class="form-control" type="text" name="name" placeholder="{{bread.name}}" required>
        <label class="form-label">Price:</label>
        <input class="form-control" type="number" name="price" min="1" max="200" required>
        <label class="form-label">Special Ingredients:</label>
        <input class="form-control" type="text" name="specialIngredients" placeholder="{{bread.specialIngredients}}" required>
        <label class="form-label">Is the bread Vegan?:</label>
        <input class="form-check-input" type="checkbox" name="isVegan">
        <label class="form-label">Is the bread Yeasted?:</label>
        <input class="form-check-input" type="checkbox" name="isYeasted">
      </fieldset>
      <input class="btn btn-success" type="submit" value="Edit {{bread.name}}">
    </form>
  </div>

{% endblock %}