{% layout "layout.liquid" %}
{% block content %}
    <div class="container-md">
        <article>
            <h2>{{bread.name}}</h2>
            <h4>Our {{bread.name}} is a
                {% if bread.isVegan %}
                vegan
                {% else %}
                enriched
                {% endif %}
                {% if bread.isYeasted %}
                yeasted bread
                {% else %}
                sourdough bread
                {% endif %}
                with {{bread.specialIngredients}}.
            </h4>
            <h5>Purchase a loaf for ${{bread.price}}.</h5>
            {% if loggedIn and bread.owner == userId %}
                <div class="btn-group">
                    <a class="btn btn-primary" href="/breads/edit/{{bread.name}}">Edit</a>
                    <form action="/breads/{{bread.name}}?_method=DELETE" method="POST">
                        <input class="btn btn-danger" type="submit" value="delete">
                    </form>
                </div>
            {% endif %}
        </article>
                <hr>
        <h4>Comments</h4>
        <hr>
        {% if loggedIn %}
        <div class="col-md-6">
            <form action="/comments/{{bread.id}}" method="POST">
            <fieldset>
                <legend>Add Comment:</legend>
                <label class="form-label">comment:</label>
                <input class="form-control mb-3" type="text" placeholder="enter your comment..." name="note" required>
                <input class="btn btn-success" type="submit" value="Add Comment">
            </fieldset>
            </form>
        </div>
        {% else %}
        <div class="col-md-6">
            <small>If you'd like to leave a comment, please log in.</small>
        </div>
        {% endif %}
        <hr>
        {% if bread.comments.length > 0 %}
            <div class="container-sm justify-content-center">
                <div class="col-md-8 col-lg-6">
                {% for comment in bread.comments %}
                    {% render "comment.liquid", comment: comment, userId: userId, good: bread %}
                {% endfor %}
                </div>
            </div>
        {% else %}
            <small>No comments yet...</small>
        {% endif %}
    </div>
{% endblock %}